
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 500px 100px auto 200px;
    height: 100vh;
}


td {
    border: 1px solid white;
    width: 2.5em;
    height: 2.5em;
    background-color:rgb(75, 138, 201);
    background-image: radial-gradient(45, rgb(75, 138, 201), rgb(192, 224, 255));
}

#player .ship{
    background-color: rgb(62, 62, 62);
    margin: .25em;
    padding-top: -1em;
}

#computer td{
    background-color: none;
}

.miss{
    background-color: white;
}

.hit{
    background-image: url("https://i.imgur.com/9cr6mCz.png");
    background-color: red;
}

.hover {
    background-color: rgb(255, 238, 0);
}

#computer {
    table-layout: fixed;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
    grid-row: 2/3;
    grid-column: 2/3;
}

#player {
    table-layout: fixed;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-row: 4/5;
}

tbody{
    position: relative;
    width: fixed;
    height: fixed;
}

th {
    padding: 10px;
    margin: 10px;    
}





#destroyer{
    width:30px;
    height:120px;
}

#submarine{
    width:30px;
    height:120px;
}

#battleship{
    width: 30px;
    height: 210px;
}

.dragging{
    cursor: move;
}

#phase{
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}
#shipyard{
    background-color: rgb(52, 69, 53);
    border: solid black 3px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    grid-column: 3/4;
    grid-row: 4/5;
    margin:0px 300px 0px 150px;
}

button {
    height: 200px;
    width: 200px;
}