
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 500px 100px auto 200px;
    height: 100vh;
}
.hover {
    background-color: rgb(255, 238, 0);
}

.miss{
    background-color: white;
}

.board {
    background-color: aquamarine;
}

#computer {
    table-layout: fixed;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
    grid-row: 2/3;
    grid-column: 2/3;
}

#player {
    table-layout: fixed;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-row: 4/5;
}

tbody{
    position: relative;
    width: fixed;
    height: fixed;
}

th {
    padding: 10px;
    margin: 10px;    
}

td {
    border: 1px solid white;
    width: 2.5em;
    height: 2.5em;
    background-color:rgb(75, 138, 201);
}

.ship{
    background-color: grey;
    margin: .25em;
    cursor: move;
    padding-top: -1em;
}

#destroyer{
    width:30px;
    height:120px;
}

#submarine{
    width:30px;
    height:120px;
}

#battleship{
    width: 30px;
    height: 210px;
}

.dragging{
    cursor: move;
}

#phase{
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}
#shipyard{
    background-color: rgb(37, 145, 42);
    border: solid black 3px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    grid-column: 3/4;
    grid-row: 4/5;
    margin:25px 75px 25px 75px;
}