
body {
    display: grid;
    grid-template-columns: 1fr 200px auto 200px 1fr;
    grid-template-rows: 100px 500px 100px auto 200px;
    /* height: 80vh; */
    background-color: black;
    /* background-image: url("https://i.imgur.com/AWRkMhc.jpg"); */
    background-position: cover;
    background-repeat: no-repeat;
    background-size: auto auto;
}



td {
    border: 1px solid rgba(35, 203, 23, 0.702);
    width: 2.5em;
    height: 2.5em;
    background-image: linear-gradient(45deg, rgba(15, 49, 84, 0.47), rgba(60, 103, 147, 0.436));
}

#player .ship{
    background-image: linear-gradient(45deg, rgb(81, 81, 81),rgb(58, 136, 62));
    margin: .25em;
    padding-top: -1em;
}

#computer td{
    background-color: none;
}

.miss{
    background-image: url("https://i.imgur.com/PEKqchq.png");
    background-size:10em;
    background-position: center;
    width:auto;
    height:auto;
    background-color: rgb(194, 194, 194);
}

.hit{
    background-image: url("https://i.imgur.com/9cr6mCz.png");
    background-size:4em;
    background-position: center;
    width:auto;
    height:auto;
    background-color: brown;
}

.hover {
    background-image: none;
    background-color: rgba(98, 255, 0, 0.555);
}

#computer {
    table-layout: fixed;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
    grid-row: 2/3;
    grid-column: 3/4;
}

#player {
    table-layout: fixed;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-spacing: 0px;
    grid-column: 3/4;
    grid-row: 4/5;
}

tbody{
    position: relative;
    width: fixed;
    height: fixed;
    color:rgb(80, 203, 23);
    font-family: 'Chakra Petch', sans-serif;
}

th {
    padding: 10px;
    margin: 10px;    
}

.dragging{
    cursor: move;
}

#phase, #turn-description{
    grid-row: 3/4;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    font-family: 'Chakra Petch', sans-serif;
    color:rgb(80, 203, 23);
}

#turn-description{
    margin-top: 60px;
}

#shipyard{
    background-color: rgba(80, 203, 23, 0.607);
    border: solid black 3px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    grid-column: 4/5;
    grid-row: 4/5;
    margin:55px 35px 55px 35px;
    border-radius: 10px;
}

button {
    height: 100px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#start-area{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#title{
    font-family: 'Climate Crisis', cursive;
    color: white;
    font-size: 100px;
}

#start-button{
    font-family: 'Chakra Petch', sans-serif;
    font-size:large;
    width: 200px;
    height: 50px;
}

#background{
    background-position: center;
    object-fit: cover;
    z-index:-1;
    position: absolute;
    background-repeat: repeat-y;
}

.ship-info {
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}
#player-remaining{
    grid-row: 4/5;
    grid-column: 2/3;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

#computer-remaining{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    margin: 425px 0 0 0;
}

#reset-button{
    grid-column:4/5;
    grid-row:3/4;
}

@media only screen and (min-width: 1000px){
    body{
        height: 100vh;
        background-color: black;
        background-image: url("https://i.imgur.com/AWRkMhc.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}